---
---

$header-bg-color: black;
$header-bg-color-secondary: #507d2a;
$section-headings-color: #507d2a;
$body-link-color: #ff4e7f;

@import "{{ site.theme }}";

// my overrides styles :)
.skip-link {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

p, li {
    text-align: justify;
}